<div class="container mt-4">
  <h2 class="text-center">Inscripciones 🎸</h2>

<div class="card p-4 mb-4 shadow-sm rounded-4" style="background-color: #ffffff;">
    <select class="form-control mb-2" [(ngModel)]="nueva.estudianteId">
      <option value="">Seleccionar Estudiante</option>
      <option *ngFor="let e of estudiantes" [value]="e.id">
        {{e.nombre}} {{e.apellido}}
      </option>
    </select>

    <select class="form-control mb-2" [(ngModel)]="nueva.cursoId">
      <option value="">Seleccionar Curso</option>
      <option *ngFor="let c of cursos" [value]="c.id">
        {{c.nombreCurso}}
      </option>
    </select>

    <button class="btn w-100 rounded-3 text-white" style="background-color: #6c757d;" (click)="guardar()">Inscribir</button>
  </div>

  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between"
        *ngFor="let i of inscripciones">

      {{ getNombreEstudiante(i.estudianteId) }} → {{ getNombreCurso(i.cursoId) }}

      <button class="btn btn-sm text-white" style="background-color: #adb5bd;" (click)="eliminar(i.id)">Eliminar</button>
    </li>
  </ul>
</div>